/* .hide {
  display: none;
} */


/* *, *::before, *::after {
  box-sizing: border-box;
  font-family:  sans-serif;
} */

body {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #d1cccc;
}

#container {
  /* background-color: #001B3A; */
  /* background-color: #3c4363; */
  /* background-color: #1D2951; */
  /* background-color: #404471; */
  /* background-color: #282E58; */
  background-color: #232850;
}




/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  /* margin-left: -10px; */
  font-weight: 300;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

#input-container {
width: 284px;
display: flex; 
justify-content: space-between;
/* border: 1px solid teal; */
background-color: rgba(24, 27, 54, 0.5);
}

/* 
.container {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
} */




input[type="text"] {
  /* width: 200px;
  height: 20px;
  padding-right: 50px; */
  margin: 10px;
  border-style: none;
  border: 1px solid transparent;
  background-color: transparent;
  font-weight: 400;
  font-size: 1rem;
  color: #d1cccc;
}


/* input {
  width: 450px;
  padding: 0px 15px;
} */

/* Change Autocomplete styles in Chrome*/
/* input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid green;
  -webkit-text-fill-color: green;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
} */


/* input#inputText:focus {
  outline-width: 0;
} */

input:focus,
select:focus,
button:focus {
  outline: none;
}

/* input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
} */

::-webkit-input-placeholder { /* WebKit browsers */
 
   opacity: 0.5 !important;
   font-weight: 400;
   font-size: 1rem;
   color: #d1cccc;
}

button[type="submit"] {
  border-style: none;
  background-color: transparent;
    /* float: right; */
} 

.alert-style {
  width: 100vw;
  height: 100vh;
  background-color: teal;
  color: beige;
}

.fa-plus-circle {
  color: #008080; /* teal */
  font-size: 1.5rem;
}

.fa-plus-circle:hover {
  color: #009999;
}
/*
input[type="submit"] {
  margin-left: -50px;
  height: 25px;
  width: 50px;
  background: blue;
  color: white;
  border: 0;
  -webkit-appearance: none;
} */

p.title {
  font-weight: 400;
}

li {
  list-style: none;
}

ul#list li#list-item span i.fa-trash {
  color: red;
/* font-size: 40px; */
}

li p {
  display: inline-block;
  margin: 0;
  padding: 0 5px;
  /* text-decoration: line-through; */
}

.strike-out {
text-decoration: line-through;
}

/* .fa-circle {
  display: inline-block;
  }

.fa-check-circle {
display: inline-block;
} */
