* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #d1cccc;
  background-color: rgb(155, 155, 179);
}

ul {
  padding: 0;
}


li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* CONTAINER */

#container {
  position: relative;
  height: 90%;
  padding: 20px 16px 20px 16px;
  width: 346px;
  max-width: 346px;
  border: solid 1px #131313;
  border: none;
  box-shadow: 3px 8px 8px #131313;
}

/* MENU */

#menu-container {
  display: flex;
  justify-content: space-between
}

.menu-btn {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80px;
  height: 40px;
  max-height: 45px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  z-index: 5;
}

.menu-btn > div:hover {
  transform: rotate(180deg);
}

.menu-btn_burger {
  width: 40px;
  height: 4px;
  background: #d1cccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all .5s ease-in-out;
  z-index: 1;
}

.menu-btn_burger::before,
.menu-btn_burger::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 4px;
  background: #d1cccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all .5s ease-in-out;
}

.menu-btn_burger::before {
  transform: translateY(-13px);
}

.menu-btn_burger::after {
  transform: translateY(13px);
}

.hidden-burger {
  background: #818181;
}

.hidden-burger::before,
.hidden-burger::after {
  background: #818181;
}

.menu-btn.open .menu-btn_burger .hidden-burger::before {
  background: #ff0000;
}

.menu-btn.open .menu-btn_burger .hidden-burger::after {
  background: #ff0000;
}

/* ANIMATION */

.menu-btn.open .menu-btn_burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.menu-btn.open .menu-btn_burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn_burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.menu {
  top: 0;
  left: 0;
  width: 0;
  height: 89%;
  position: absolute;
  display: flex; 
  justify-content: center;
  align-items: center; 
  overflow-x: hidden;
  transition: 0.5s;
  overflow: hidden;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  z-index: 2;
}

.menu > ul{
    margin: 17px 0;
    width: 100%;
    padding: 70px 0;
    transition: 0.3s;
    overflow-x: hidden;
    overflow: hidden;
    z-index: 2;
}

.menu > ul > li{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu > ul > li > a, .change-background {
  font-size: 1.5rem;
  padding: 20px;
  color: #818181;
  transition: 0.3s;

}

.menu > ul > li > a:hover,.change-background:hover {
  text-shadow: 2px 0 8px #aaa7a7;
  color: #f1f1f1;
}

 .menu > ul > li > a:focus, .change-background:focus {
  color: #f1f1f1;
}


/* LIST NAME */

#todo-title {
  width: 60%;
}

.todo-title-hover-light-mode:hover{
  background-color: #373760;
}

.todo-title-hover-dark-mode { /* hover effect for title when in light mode background */
  background-color: rgba(238, 240, 241, 0.705);
}

#todo-title p#todo-title-text{
  margin: 7px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.2rem;
  text-align: right;
  color: #9d9dc0;
  text-transform: uppercase;
}

#todo-title p:empty:not(:focus)::before { /* add placeholder like text in paragraph that disappears when clicked */
  content: attr(data-placeholder);
  color: #818181;
}

.small {
  text-align: center;
  font-size: 0.2rem;
  color: #ffffff;
  background-color:  #ff00009f;
  border-radius: 15px;
}

#char-limit.small {
  background-color:  #9d9dc01a;
  color: #969494;
}

/* POPUP */

.popup { /* Popup container */
  position: relative;
  display: inline-block;
  cursor: pointer;
  z-index: 6;
}

.popup .popuptext { /* The actual popup (appears on top) */
  visibility: hidden;
  width: 160px;
  background-color: #008080;
  color: #ffffff;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  font-weight: 300;
}

.popup .popuptext::after { /* Popup arrow */
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color:#008080 transparent transparent transparent;
}

.popup .show, .show { /* Toggle this class when clicking on the popup container (hide and show the popup) */
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

.show-div {
  display: inline-block;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

.hide {
  display: none;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/* INPUT  */

#input-container {
  margin:0 auto;
  width: 306px;
  max-width: 320px;
  padding: 0 15px;
  display: flex; 
  justify-content: space-between;
  background-color: #282851;
  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: 1.5rem;
  /* Firefox 1-3.6 */
  -moz-border-radius: 1.5rem;
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: 1.5rem;
}
  
#input-container:hover {
  background-color: rgba(24, 27, 54, 0.7);
}

input[type="text"] {
  width: 240px;
  max-width: 240px;
  line-height: 1.2rem;
  margin: 10px;
  border-style: none;
  border: 1px solid transparent;
  background-color: transparent;
  font-weight: 400;
  font-size: 1rem;
  color: #d1cccc;
}

input:focus,
select:focus,
button:focus, 
p:focus {
  outline: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
  opacity: 0.8 !important;
  font-weight: 400;
  font-size: 1rem;
  color: #d1cccc;
}

:-moz-placeholder { /* Firefox 18- */
  color: #d1cccc;
  opacity: 0.5 !important;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #d1cccc;
  opacity: 0.5 !important;
}

:-ms-input-placeholder {  
  color: #d1cccc;
}

button[type="submit"] { /* submit button */
  border-style: none;
  background-color: transparent;
} 

/* HR - LINE */

hr {
  margin: 14px -20px 0 -16px;
  height: 1.5px;
  border: none;
  background-color: #35355E;
}


/* LIST CONTAINER WRAPPER  */

#list-container-wrapper {
  height: 65vh;
  overflow-y: scroll;
}

.list-container-top-padding {
  padding-top: 3px;
}

#completed {
  padding-top: 18px;
}

/* HEADING */

.heading {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 0.8rem;
  font-weight: 500;
  color: #ffffff;
  color: #9d9dc0;
}

a.heading:hover{
  color: #ffffff;
  color: #d3d3f0;
  font-weight: 600;
}

/* UL */

ul#list, ul#completed-list {
  height: 52vh;
  overflow-y: scroll;
}

ul#list {
  padding: 0;
}

li.list-item, #completed-list li {
  display: flex;
  align-items: center;
  padding: 0 15px;
  width: 306px;
  max-width: 320px;
  margin: 8px 0 ;
  height: 55px;
  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: 0.5rem;
  /* Firefox 1-3.6 */
  -moz-border-radius: 0.5rem;
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: 0.5rem;
}

.dark-list-style {
  background-color: #373760;
}

.light-list-style {
  background-color: #ffffff;
  border: solid 1px #f8f6f8;
  box-shadow: 4px 2px 6px #e4e3e4;
  border: solid 2px #e7e7f9;
  border-radius: 50%;
}

li p.scroll {
  display: inline-block;
  margin: 0 10px 0 10px;
  padding: 0 5px;
  width: 220px;
  max-width: 220px;
  overflow-x: scroll; /* Add the ability to scroll  horizontally */
  white-space: nowrap;
}

li p.scroll::-webkit-scrollbar { /* Hide scrollbar for Chrome, Safari and Opera */
  display: none;
}

li p.scroll { /* Hide scrollbar for IE, Edge and Firefox */
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

/* FONT AWESOME */

/* TRASH CAN */

.fa-trash {
  color: rgb(182, 59, 59);
  font-size: 1.2rem;
  cursor: pointer;
}

.fa-trash:hover {
  color: red;
}

li.list-item:hover ~ span i.fa-trash {
  color: #ccc
}

/* CIRCLE */

.fa-circle {
  margin-top: 1px;
  color: #ffffff;
  font-size: 1.3rem;
  cursor: pointer;
}

.fa-circle:hover {
  color: #e7e7f9;
}

/* CHECK CIRCLE */

.fa-check-border {
  border: solid 1px #e7e7f9;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  background-color: #e7e7f9;
}

.fa-check-circle {
  color: #ffffff;
  font-size: 1.3rem;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.fa-check-circle-bg-color {
  color: #008080;
}

.fa-check-circle::after{
  content: "";
  width: 22px;
  height: 22px;
  top: 100%; 
  right: 50%;
  margin-top: -21.5px;
  margin-right: -11px;
  position: absolute;
  display: inline-block;
  background-image: linear-gradient(120deg, #008080, #008080);
  border-radius: 50%;
  opacity: .5;
  z-index: 1;
}

.fa-check-circle-bg-color::after {
  background-image: none;
}

/* PLUS CIRCLE */

.fa-plus-circle {
  font-size: 1.7rem;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.fa-plus-circle-color {
  color: #ffffff; 
}

.hover-style {
  color: #008080; 
}

.fa-plus-circle::after , .hover-style:after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  display: inline-block;
  background-image: linear-gradient(120deg, #eaee44, #33d0ff);
  background-image: linear-gradient(120deg, #008080, #008080);
  border-radius: 50%;
  opacity: .7;
  z-index: 1;
}
  
.hover-style:after {
  content: "";
  background-image: none;
  border-radius: 50%;
}
 
.fa-plus-circle:hover, .hover-style:hover {
  color: #066464; 
  background-color: #ffffff;
  border-radius: 50%; 
}

.strike-out { /* strike through completed task */
  text-decoration: line-through;
  }


/* MEDIA QUERIES */

/* Max-width: 768px */
@media only screen and (max-width: 768px) {

  #container {
    position: relative;
    height: 100%;
    padding: 50px 35px 35px 35px;
    width: 80%;
    max-width: 100%;
    border: none;
  }

  #todo-title {
    width: 54%;
  } 

  #input-container {
    width: 420px;
    max-width: 500px;
    padding: 0 15px;
    display: flex;
    align-items: center;
  }

  input[type="text"] {
    width: 330px;
    max-width: 340px;
  }

  li.list-item, #completed-list li {
    padding: 0 15px;
    width: 460px;
    max-width: 500px;
  }

  li p.scroll {
    width: 340px;
    max-width: 360px;
  }

}

/* Max-width: 600px */
@media only screen and (max-width: 600px) {

  #container {
    width: 90%;
    padding: 20px;
  } 

  #input-container {
    width: 380px;
    max-width: 380px;
    padding: 0 15px;
  }

  input[type="text"] {
    width: 282px;
    max-width: 290px;
  }

}

/* Max-width: 480px */
@media only screen and (max-width: 480px) {
  #container {
    width: 100%;
    padding: 20px;
  } 

  #input-container {
    width: 306px;
    max-width: 320px;
    padding: 0 15px;
  }

  li.list-item, #completed-list li {
    width: 306px;
    max-width: 320px;
  }
}








